@import url("reset.css");
@import url("header.css");
@import url("footer.css");

.breadcrumb {
  background-color: #f0f0f0;
  height: 65px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.breadcrumb ul {
  display: flex;
  align-items: center;
  gap: 8px;
}

.breadcrumb ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.breadcrumb ul li a {
  color: black;
}
.main {
  padding: 40px 0;
}

.product_img {
  width: 100%;
  height: 550px;
}

.product_sub-img {
  width: 100%;
  height: 100px;
}

.product__title {
  font-size: 32px;
  font-weight: 600;
}

.bi-star {
  color: #ffb503;
}

.bi-star-fill {
  color: #ffb503;
}

.product__rate {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product__detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product__feature {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stock {
  color: green;
  font-weight: 400;
}

.product__feature-name {
  font-weight: 500;
}

.discount-price {
  font-size: 18px;
  font-weight: 500;
  color: gray;
  text-decoration: line-through;
}
.price {
  font-size: 23px;
  font-weight: 500;
  color: red;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product_detail {
  color: rgb(66, 66, 66);
  line-height: 25px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 25px 0;
}

.counts {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.count-box {
  border: 2px solid rgb(191, 191, 191);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  padding: 15px 0;
}

.counts button {
  width: 100%;
  padding: 16px 0;
  background-color: #e96f84;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
}

.product-buy {
  width: 100%;
  padding: 16px 0;
  background-color: #2f415d;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
}

.price-box {
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.view-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bi-eye {
  font-size: 22px;
}

.view__number {
  display: block;
  background-color: #e96f84;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  font-weight: 500;
}

/* tabs */

.tabs {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.tab {
  background: #f0f0f0;
  padding: 15px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab.active {
  background-color: #2f415d;
  color: white;
}

.tabMenu {
  display: none;
  margin-top: 30px;
}

.tabMenu.active {
  display: block;
}

.product-desc {
  line-height: 25px;
  text-align: justify;
}

.info-name {
  font-weight: 600;
}

/* start review section */

.avrage {
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
}
.avrage-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avrage-result {
  font-size: 45px;
  font-weight: 500;
}

.avrage-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avrage__rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avrage-title,
.rating-count {
  font-weight: 600;
  font-size: 14px;
}

.rating-count {
  color: gray;
}

/* start progress bar style */

.progresses {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.stat-progress {
  height: 12px;
  width: 75%;
  background-color: #f0f0f0;
  border-radius: 25px;
  overflow: hidden;
}

.stat-progress__bar {
  width: 95%;
  height: 100%;
  background-color: #2f415d;
  border-radius: 25px;
}

/* start reviews */

.reviews {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.review-box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px;
}

.review-box:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}
.review-main__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.review__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review__title {
  font-weight: 600;
  font-size: 18px;
}
.review__desc {
  font-weight: 600;
  font-size: 14px;
  color: #2f415d;
  margin-top: 5px;
}
.review__body {
  font-size: 14px;
  color: gray;
  line-height: 20px;
}

.review__img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

/* start review form */
.review-form {
  background-color: #f0f0f0;
  padding: 20px;
  position: sticky;
  top: 10px;
}

.review-form__title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}

.review-form__desc {
  font-size: 14px;
  color: gray;
}

.review-form__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 25px;
}

.review-form__inputs label span,
.review-form__body label span {
  color: red;
}
.review-form__inputs,
.review-form__input label {
  font-size: 15px;
}

.review-form__body {
  margin-top: 25px;
}

.review-form__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  height: 125px;
}

.form-review__btn {
  background-color: #2f415d;
  color: white;
  font-weight: 500;
  border: none;
  padding: 15px;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .product_img {
    height: 322px;
    object-fit: cover;
  }

  .product_sub-img {
    height: 70px;
    object-fit: cover;
  }

  .main {
    padding: 40px 15px;
  }
}

@media (max-width: 567px) {
  .tab {
    width: 100%;
  }

  .tabs {
    gap: 14px;
  }

  .breadcrumb {
    height: 48px;
    margin-bottom: 20px;
  }

  .main {
    padding-top: 20px;
  }

  .breadcrumb {
    font-size: 14px;
  }
  .product__detail {
    margin-top: 25px;
  }

  .product__title {
    font-size: 24px;
  }

  .product-card__stars {
    font-size: 14px;
  }

  .price {
    font-size: 20px;
  }

  .discount-price {
    font-size: 16px;
  }

  .product_detail {
    font-size: 16px;
  }

  .count-box {
    padding: 10px 0;
  }

  .counts button {
    padding: 13px 0;
    font-size: 14px;
  }

  .product-buy {
    padding: 13px 0;
    font-size: 14px;
  }

  .view-box {
    font-size: 14px;
  }

  .view__number {
    padding: 8px 12px;
  }

  .tab {
    font-size: 12px;
  }

  .count-box {
    width: 40%;
  }

  .table {
    font-size: 14px;
  }

  .review-form__inputs {
    grid-template-columns: 1fr;
  }

  .product-desc {
    font-size: 15px;
  }

  .review-form {
    margin-top: 35px;
  }

  .stat-progress {
    width: 55%;
  }

  .review__title{
    font-size: 16px;
  }

  .review__desc{
    font-size: 12px;
  }

  .review__body{
    font-size: 12px;
  }

  .review-form__desc{
    line-height: 25px;
  }

  .form-control ,.form-select{
    font-size: 14px;
  }

  .form-review__btn{
    font-size: 14px;
  }
}
